body {
    margin-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* --- HEADER --- */

#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 99;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    box-shadow: 0 1px 5px #999;
}

.navbar-brand {
    font-size: 26px;
    color: #A3D900 !important;
}

.navbar-right li a:hover {
    color: #A3D900 !important;
}

/* ---  MAIN --- */

.main-content {
    text-align: center;
    background: #A3D900;
    color: #fff;
}

.search-multas {
    position: relative;
}

.search-multas i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    color: #999;
}

.search-multas input {
    margin: 20px 0 40px 0;
    padding: 0 10px;
    color: #222;
    font-size: 16px;
    border-radius: 5px;
}

.second-content {
    background: #333;
    color: #fff;
    padding: 20px 0 30px 0;
}

#info-content {
    padding: 20px 0 0 0;
}

.social {
    background: rgba(215, 215, 215, 0.2);
    padding: 20px;
    background-color: #7f8c8d;
}

.social h3 {
    text-align: center;
    font-size: 20px;
}

.list-inline {
    text-align: center;
}

i {
    color: #fff;
}

.list-inline li a{
    display: inline-block;
    margin-top: 5px;
}

.list-inline li a i:hover{
    color: #a6fb84;
}

/* --- FOOTER --- */

footer {
    background: #333;
    color: #fff;
}

footer .copyright {
    background: rgba(215, 215, 215, 0.3);
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .navbar-default .navbar-nav li a {
        display: block;
        width: 100%;
        color: #aaa;
        text-align: center;
    }

    .navbar-default .navbar-nav li a:hover {
        color: #fff !important;
        background: #A3D900 !important;
    }
}